{% extends 'base.html' %}

{% load static %}

{% block login %}

{% load django_bootstrap5 %}

{% bootstrap_css %}

{% bootstrap_javascript %}

{% bootstrap_messages %}

    <link href="{% static 'css/login.css' %}" rel="stylesheet">

    <body>
    <div class="container" style="color:white; padding-top: 4%; width: 50%; height: 50%; margin: auto;">
        <div class="row">
            <div class="col-7 col-xs-8 col-sm-7 col-md-9 col-xl-9" style="color:white;">
                <div class="card">
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}

                    <form class="box" method="post" style="padding:2em; ">
                        <a style="margin-left:2em;"  >Management Hotelier </a> <img src="{% static '/images/hotelv2.png' %}" height="70em" width="70em" alt="My image">
                        {% csrf_token %}
                        <h2>Autentificare</h2>
                        <p class="text-muted">Vă rugăm introduceți datele pentru autentificare.</p>

                        {% bootstrap_form form %}
                        <div>
                            <button type="submit" class="btn btn-primary " aria-pressed="true">Conectare</button>
                        </div>  
                        <div style="display: inline-block; padding-top:2em;">
                        <a class="btn btn-secondary" href="{% url 'accounts:sign_up' %}">Creare cont</a>                    
                        </div>
                    </form>
                    <a  href="{% url 'accounts:restore_password' %}">Ai uitat parola?</a>  
                </div>
            </div>
        </div>
    </div>

{% endblock %}



