{% extends 'base.html' %}

{% load static %}

{% load django_bootstrap5 %}

{% bootstrap_css %}

{% bootstrap_javascript %}

{% bootstrap_messages %}

{% block restore_password %}

    <div class="container" style="color:white;">
        <div class="row">
            <div class="col-7 col-xs-8 col-sm-7 col-md-6 col-xl-6" style="color:white;">
                <div class="card">
{#                    {% if form.errors %} #}
{#                       {% for field in form %} #}
{#                           {% for error in field.errors %} #}
{#                              <div class="alert alert-danger">#}
{#                                   <strong>{{ error|escape }}</strong>#}
{#                              </div>#}
{#                           {% endfor %}#}
{#                       {% endfor %}#}
{#                    {% endif %}#}
                    <form class="box" method="post" style="border-radius: 25px;">
                        <h4>Resetare parolă</h4>
                        <p class="text-muted"> Vă rugăm să introduceți adresa de e-mail</p>

                        {% csrf_token %}
                        {% bootstrap_form form %}

                        <button type="submit" class="bn5" aria-pressed="true">Resetare</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
