{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}
{% block restore_password_confirm %}

{% bootstrap_messages %}

    <link href="{% static 'css/sign_up.css' %}" rel="stylesheet">

  {% if validlink %}
    <div class="error_list" style="width:100%;">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>

        <div class="singupclass">
            <div class="container" style="color: white;">
                <div class="row">

                    <div class="col-7 col-xs-8 col-sm-7 col-md-6 col-xl-6">
          <div class="card error_list" style="width:100%;">
                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                            
                            <form method="post" class="box align-middle" method="post" style="border-radius: 25px;">
                                {% csrf_token %}
                                <h4>Resetați-vă parola</h4>
                                <p class="text-muted">Vă rugăm introduceți datele pentru resetarea parolei</p>
                                {% bootstrap_form form %}

                                <button type="submit" class="bn5" aria-pressed="true">Resetare</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="alert alert-danger">
           Link-ul este invalid sau a expirat. Vă rugăm solicitați din nou resetarea parolei.
        </div>
    {% endif %}

{% endblock %}