{% load i18n %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{{ subject }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<p>
   Ați primit acest e-mail deoarece ați solicitat resetarea parolei pentru contul din cadrul aplicatii de Management Hoteliere.
</p>

<p>
   Accesați acest link pentru a vă reseta parola
</p>

<p>
    <a href="{{ uri }}">{{ uri }}</a>
</p>

<br><br>

Management Hoteliere 
</body>

</html>
