{% extends 'base.html' %}

{% load static %}

{% block changeprofile %}

{% load django_bootstrap5 %}

{% bootstrap_css %}

{% bootstrap_javascript %}

{% bootstrap_messages %}

    <link href="{% static 'css/changeProfile.css' %}" rel="stylesheet">

    <div class="container white">
        <div class="row">
            <div class="col-7 col-xs-8 col-sm-7 col-md-6 col-xl-6">
                <div class="card">
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    <form class="box" method="post">
                        {% csrf_token %}
                        <h4>Editare profil</h4>

                      {%bootstrap_form form %}

                        <br>
                        <br>
                        <button type="submit" class="btn btn-secondary"" aria-pressed="true">
                            Modifică
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
