{% extends 'base.html' %}

{% load static %}

{% block changepassword %}

{% load django_bootstrap5 %}

{% bootstrap_css %}

{% bootstrap_javascript %}

{% bootstrap_messages %}

    <div class="error_list" style="width:100%;">
        {% if form.errors %}
            {% for field in form %}
                {% if field.errors %}
                    <div class="alert alert-danger"
                         data-current-password-error="Your individual error message in a different language.">
                {% endif %}
            {% for error in field.errors %}
                <strong>{{ error|escape }}</strong>
            {% endfor %}
            {% if field.errors %}
                </div>
            {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <div class="container " style="color:white; ">
        <div class="row">
            <div class="col-7 col-xs-8 col-sm-7 col-md-6 col-xl-6">
                <div class="card">

                    <form class="box align-middle" method="post" style="border-radius: 25px;">
                        <h4 style="color:white;">Schimbare parolă</h4>
                        <p class="text-muted">Vă rugăm să introduceți datele necesare</p>

                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button type="submit" class="bn5 btn-success"
                                aria-pressed="true">Modifică</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}