{% load static %}

{% load custom_filters %}

{% load django_bootstrap5 %}

{% bootstrap_css %}

{% bootstrap_javascript %}

<!DOCTYPE html>
<title>
    Ebooking
</title>
{% comment %} <script src="https://unpkg.com/@popperjs/core@2.9.3"></script> {% endcomment %}
<script src="https://unpkg.com/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"></script>
{% if request.path != '/accounts/log-in/' and request.path != '/accounts/sign-up/' %}
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" style="margin-left:2em;"  href="{% url 'home' %}">Management </a> <img src="{% static '/images/hotelv2.png' %}" height="70em" width="70em" alt="My image">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% if request.user.is_authenticated %}
      <div class="collapse navbar-collapse" id="navbarText" style="padding-left:2em;">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only"></span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'reservations' %}">Vezi rezevari <span class="sr-only"></span></a>
          </li>
          {% if request.user|is_administrator %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'add-rezervare' %}">Adauga rezervare <span class="sr-only"></span></a>
            </li>
          {% endif %}
          {% comment %} <li class="nav-item active">
            <a class="nav-link" href="http://localhost:8025/">Mail <span class="sr-only"></span></a>
          </li> {% endcomment %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="edit-profile-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profile
            </a>
            <ul class="dropdown-menu" aria-labelledby="edit-profile-dropdown">
              <li><a class="dropdown-item" href="{% url 'accounts:change_password' %}">Resetare parolă</a></li>
              <li><a class="dropdown-item" href="{% url 'accounts:change_profile' %}">Editeaza profilul</a></li>
            </ul>
          </li>
          {% if request.user.is_superuser %}
          <li class="nav-item active">
            <a class="nav-link"href="{% url 'admin:index' %}">Manage Data<span class="sr-only"></span></a>
          </li>
          {% endif %}
        {% endif %}
        </ul>
       
        {% if not request.user.is_authenticated %}
          <a class="nav-link" style="color:black; margin-right:2em; margin-left: auto; margin-right:2em;" href="{% url 'accounts:log_in' %}">Login </a>
        {% else %}
      
        <a style="padding-right:20px; margin-right:2; margin-left: auto; margin-right: 2em;" >Hi, {{ request.user.first_name}} </a> <a class="nav-link" style="color:black; padding-right:1em; " href="{% url 'accounts:log_out' %}">  Logout </a>
        {% endif %}
      </div>
    </nav>
  {% endif %}
{% comment %} 
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} {% endcomment %}

  {% block hotels %}
  {% endblock %}

  {% block login %}
  {% endblock %}

  {% block logout %}
  {% endblock %}

  {% block signup %}
  {% endblock %}

  {% block changeprofile %}
  {% endblock %}

  {% block changepassword %}
  {% endblock %}

  {% block restore_password %}
  {% endblock %}
  
  {% block restore_password_confirm %}
  {% endblock %}

  {% block add_rezervare %}
  {% endblock %}
  
  
  {% block reservations %}
  {% endblock %}
  

  {% block hotel %}
  {% endblock %}
  

</body>